:root {
  font-family:
    Source Sans Pro,
    ui-sans-serif,
    system-ui,
    sans-serif,
    Apple Color Emoji,
    Segoe UI Emoji,
    Segoe UI Symbol,
    Noto Color Emoji;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* https://coolors.co/palette/fffcf2-ccc5b9-403d39-252422 */
  --dark-strong: #252422;
  --dark-weak: #402d39;
  --light-weak: #ccc5b9;
  --light-strong: #fffcf2;
  --error: #f05d5e;

  --line-height: 1.5em;
}

@media (prefers-color-scheme: dark) {
  /* TODO: dark mode */
}

body {
  color: var(--dark-strong);
  background-color: var(--light-strong);

  margin: 0;

  line-height: var(--line-height);

  overflow: hidden;
}

a {
  text-decoration: underline;
  &:hover {
    cursor: pointer;
  }
}

div.code {
  font-family: "Fira Code";
  white-space: pre-wrap;
}
